.title {
    font-weight: 600;
    margin-bottom: 1%;
}

.title-desc {
    margin-bottom: 5%;
}

.report-container {
    /*box-shadow: 0px 0px 5px 5px rgba(0, 0, 10, .2);*/
    margin-bottom: 5%;
    margin-top: 4%;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0px 0px 3px 0.1px black;
}

hr {
    background-color: var(--tg-theme-text-color);
}

.container {
    min-height: 94vh;
}

.tgui-8af0d10d5540c6cc {
    opacity: 0;
}

  .content {
    flex: 1; /* Занимает всё доступное пространство, оставляя кнопку внизу */
}

.footer {
    display: flex;
    justify-content: center; /* Центрирует кнопку по горизонтали */
    margin-top: auto; /* Сдвигает кнопку к низу экрана */
}

.choose-direction-title {
    font-size: 14px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.snackbar {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.snackbar-show {
    opacity: 1;
}


.label-img-margin {
    margin-right: 2%;
}

.title-section header h1 {
    font-size: 20px;
}

.subtitle-section header h1{
    font-size: 15px;
}

.transport-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
