.title {
    font-weight: 600;
    margin-bottom: 1%;
}

.title-desc {
    margin-bottom: 5%;
}

.report-container {
    /*box-shadow: 0px 0px 5px 5px rgba(0, 0, 10, .2);*/
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 2%;
}

.container {
    min-height: 94vh;
    margin-top: 0;
}

.content {
    flex: 1; /* Занимает всё доступное пространство, оставляя кнопку внизу */
}

.footer {
    display: flex;
    justify-content: center; /* Центрирует кнопку по горизонтали */
    margin-top: auto; /* Сдвигает кнопку к низу экрана */
}

.choose-direction-title {
    font-size: 14px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.snackbar {
    position: fixed;
    bottom: 20px; /* Отступ от низа */
    z-index: 1000; /* Убедитесь, что snackbar выше других элементов */
}


.label-img-margin {
    margin-right: 2%;
}

.transport-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
