.tgui-28e0a2576155be01 {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: 5%;
}

.to-logo-size img {
    width: 80%;
    height: 80%;
}

.stat-logo-last {
    margin-right: 2%;
}

.stat-container {
    width: 120%;
    display: flex;
    align-items: center;
}

.stat-container-poland {
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
}

.first-elem-logo {
    margin-left: 2%;
}

.report-list:hover {
    cursor: pointer;
    opacity: 80%;
}

.time-container-title {
    display: flex;
    flex-direction: column;
}

.time-container-title-poland {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.elem-poland-time {
    display: flex;
    align-items: center;
}

.bel-container-inf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tgui-96892ceed80c1bf3 {
    white-space: normal;
    overflow: visible;
}

@media (prefers-color-scheme: light) {
    .graf-container {
        background-color: white;
    }
}

/* Стили для тёмной темы */
@media (prefers-color-scheme: dark) {
    .graf-container {
        background-color: white;
    }

}

.tab-style {
    height: 0;
    white-space: normal;
    overflow: visible;
    margin-bottom: 5%;
}

.report-title {
    align-items: start;
    margin-left: 4%;
    box-shadow: 0 0 1px 0px;
    width: 90%;
    height: fit-content;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 5%;
}

.share-text {
    display: none;
    font-size: 12px;
    color: rgba(var(--tg-theme-text-color), 0.5);
    margin-top: 6%;
}

.share-button {
    margin-top: 5%;
}

.modal-header-text {
    font-size: 12px;
}

