.tgui-28e0a2576155be01 {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: 5%;
}

.to-logo-size img {
    width: 80%;
    height: 80%;
}

.stat-logo-last {
    margin-right: 2%;
}

.stat-container {
    width: 120%;
    display: flex;
    align-items: center;
}

.first-elem-logo {
    margin-left: 2%;
}

.report-list:hover {
    cursor: pointer;
    opacity: 80%;
}

.time-container-title {
    display: flex;
    flex-direction: column;
}

.bel-container-inf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report-title {
    align-items: start;
    margin-left: 4%;
    box-shadow: 0 0 1px 0px;
    width: 90%;
    height: fit-content;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 5%;
}

.modal-header-text {
    font-size: 12px;
}

